.nav{
    background-color: #212153;
}

.navbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.wrapper{
    width: 80%;
    margin: 0 auto;
}

@font-face {
	font-family: "SF Pro Display medium";
	src: url("../fonts/SF-Pro-Display-Medium.otf");
}
.navbar-items{
    font-family: "SF Pro Display medium";
    font-weight: 500;
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar-items li{
    margin-left: 40px;
}

.navbar-items li a{
    text-decoration: none;
    color: #FFFFFF99;
}

.logo-nav{
    width: 193px;
}

.logo-nav img{
    width: 100%;
}

.nav-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.nav-btn svg{
    width: 21px;
    height: 21px;
    margin-right: 40px;
    color: #FFFFFF99;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 96px 0;
}

.header{
    padding-top: 41px;
}

.title-main{
    width: 40%;
}

.title-main h1{
    font-size: 48px;
    color: #2B2B67;
    margin-bottom: 24px;
}

.title-main p{
    font-family: "SF Pro Display medium";
    font-weight: 500;
    color: #000000B2;
    margin-bottom: 24px;
    line-height: 19.09px;
    letter-spacing: -2%;
}

.dorm-img{
    width: 564px;
    height: 308px;
}

.dorm-img img{
    width: 100%;
    height: 100%;
    border-radius: 24px;
}

.btn-group{
    display: flex;
}

.btn-book{
    font-family: "SF Pro Display medium";
    font-size: 14px;
    color: #FFFFFF;
    padding: 16px 45px;
    border: none;
    border-color: transparent;
    background-color: #212153;
    border-radius: 8px;
    margin-right: 24px;
    cursor: pointer;
}

.btn-submission{
    font-family: "SF Pro Display medium";
    font-size: 14px;
    color: #212153;
    padding: 16px 20px;
    border:1px solid #212153;
    background-color: transparent;
    border-radius: 8px;
    margin-right: 24px;
    cursor: pointer;
}